In [1]:
# in order this code to work we need to install 'mlxtend':conda install -c conda-forge mlxtend
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
dataset=[['HotDogs','Buns','Ketchup'],
    ['HotDogs','Buns'],
    ['HotDogs','Coke','Chips'],
    ['Chips','Coke'],
    ['Chips','Ketchup'],
    ['HotDogs','Coke','Chips']]

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[ True, False, False,  True,  True],
       [ True, False, False,  True, False],
       [False,  True,  True,  True, False],
       [False,  True,  True, False, False],
       [False,  True, False, False,  True],
       [False,  True,  True,  True, False]])

In [4]:
te_ary.astype("int")

array([[1, 0, 0, 1, 1],
       [1, 0, 0, 1, 0],
       [0, 1, 1, 1, 0],
       [0, 1, 1, 0, 0],
       [0, 1, 0, 0, 1],
       [0, 1, 1, 1, 0]])

In [5]:
df = pd.DataFrame(te_ary.astype("int"), columns=te.columns_)
df

   Buns  Chips  Coke  HotDogs  Ketchup
0     1      0     0        1        1
1     1      0     0        1        0
2     0      1     1        1        0
3     0      1     1        0        0
4     0      1     0        0        1
5     0      1     1        1        0

In [6]:
frequent_itemsets = apriori(df, min_support=0.33, use_colnames=True)
original_rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
original_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Buns),(HotDogs),0.333333,0.666667,0.333333,1.000000,1.5,0.111111,inf
1,(Coke),(Chips),0.500000,0.666667,0.500000,1.000000,1.5,0.166667,inf
2,(Chips),(Coke),0.666667,0.500000,0.500000,0.750000,1.5,0.166667,2.000000
3,(Coke),(HotDogs),0.500000,0.666667,0.333333,0.666667,1.0,0.000000,1.000000
4,"(Coke, HotDogs)",(Chips),0.333333,0.666667,0.333333,1.000000,1.5,0.111111,inf
5,"(Coke, Chips)",(HotDogs),0.500000,0.666667,0.333333,0.666667,1.0,0.000000,1.000000
6,"(HotDogs, Chips)",(Coke),0.333333,0.500000,0.333333,1.000000,2.0,0.166667,inf
7,(Coke),"(HotDogs, Chips)",0.500000,0.333333,0.333333,0.666667,2.0,0.166667,2.000000

In [7]:
#search for partially support rules
list=[]
for i in range(0,6):
    if df['Coke'][i] == 0:
        list.append(i)

In [8]:
list

[0, 1, 4]

In [9]:
my_df=df
my_df

   Buns  Chips  Coke  HotDogs  Ketchup
0     1      0     0        1        1
1     1      0     0        1        0
2     0      1     1        1        0
3     0      1     1        0        0
4     0      1     0        0        1
5     0      1     1        1        0

In [10]:
my_df.loc[list[0]]['Coke']=1
my_df

   Buns  Chips  Coke  HotDogs  Ketchup
0     1      0     1        1        1
1     1      0     0        1        0
2     0      1     1        1        0
3     0      1     1        0        0
4     0      1     0        0        1
5     0      1     1        1        0

In [11]:
MCT=0.6

In [12]:
frequent_itemsets = apriori(my_df, min_support=0.33, use_colnames=True)
my_df_rule=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
#my_df_rule

In [13]:
a=(my_df_rule['antecedents']==frozenset({'Coke'})) &(my_df_rule['consequents'] == frozenset({'Chips'}))

In [14]:
#(my_df_rule['antecedents']==frozenset({'Coke'})) &(my_df_rule['consequents'] == frozenset({'Chips'}))

In [15]:

def find_RH():
    for i in range(len(my_df_rule)):
        if a[i]==True:
            #print(i)
            conf=my_df_rule.loc[i]['confidence']
            if conf>=MCT:
                print('hiding rule exists!!')

In [16]:
find_RH()

hiding rule exists!!

In [17]:
my_df.loc[list[1]]['Coke']=1
my_df

   Buns  Chips  Coke  HotDogs  Ketchup
0     1      0     1        1        1
1     1      0     1        1        0
2     0      1     1        1        0
3     0      1     1        0        0
4     0      1     0        0        1
5     0      1     1        1        0

In [18]:
frequent_itemsets = apriori(my_df, min_support=0.33, use_colnames=True)
my_df_rule=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

#my_df_rule

In [19]:
a=(my_df_rule['antecedents']==frozenset({'Coke'})) &(my_df_rule['consequents'] == frozenset({'Chips'}))
find_RH()

hiding rule exists!!

In [20]:
my_df.loc[list[2]]['Coke']=1
my_df

   Buns  Chips  Coke  HotDogs  Ketchup
0     1      0     1        1        1
1     1      0     1        1        0
2     0      1     1        1        0
3     0      1     1        0        0
4     0      1     1        0        1
5     0      1     1        1        0

In [21]:
frequent_itemsets = apriori(my_df, min_support=0.33, use_colnames=True)
my_df_rule=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
#my_df_rule

In [22]:
a=(my_df_rule['antecedents']==frozenset({'Coke'})) &(my_df_rule['consequents'] == frozenset({'Chips'}))
find_RH()

hiding rule exists!!